.flex-container {
      display: flex;
      flex-flow: column nowrap;
      /* justify-content: space-around; */
      justify-content: center;
  
      
      
      /* flex-flow: row wrap;
      padding: 0;
      margin: 0;
       */
  }
  
  .flex-item-about {
      display: flex;
      justify-content: center;
      flex-flow: row nowrap;
      
  }
  
  .flex-item-about img {
      display: flex;
      justify-content: center;
  }
  
  
  .flex-item-skills, #resume {
    display: flex;
    justify-content: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  /*.flex-item {
      padding: 5px;
       width: auto;
      height: auto;
      margin-top: 10px;
      line-height: 150px;
      color: white;
      font-weight: bold;
      font-size: 3em;
      text-align: center; 
    }*/
  @media all and (max-width: 800px) {
      .flex-container {
        /* When on medium sized screens, we center it by evenly distributing empty space around items  */
        justify-content: space-around;
      }
  }
  
  /* @media all and (max-width: 500px) {
      .flex-container {
        flex-direction: column;
      }
  }
   */
    
    
    /* flex-flow: row wrap;
    padding: 0;
    margin: 0;
     */
}

.flex-item-about, .flex-item {
    display: flex;
    flex-flow: row nowrap;
    
}

.flex-item-about img {
    order: -1;
    padding-right: 15px;
}

.flex-item-projects {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}
/*.flex-item {
    padding: 5px;
     width: auto;
    height: auto;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center; 
  }*/
/* @media all and (max-width: 800px) {
    .flex-container {
      When on medium sized screens, we center it by evenly distributing empty space around items 
      justify-content: space-around;
    }
} */

/* @media all and (max-width: 500px) {
    .flex-container {
      flex-direction: column;
    }
}
 */