.flex-container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
  
   
  }

 
  .pabout {
      display: flex;
      justify-content: center;
      flex-flow: row nowrap;
      
  }
  
  .flex-item-about img {
      display: flex;
      justify-content: center;
  }
  
  
  .flex-item-skills {
    display: flex;
    justify-content: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
  } 
  
 
  @media all and (max-width: 800px) {
      .flex-container, section {
      justify-content: space-around;
      }
  }
  
   @media all and (max-width: 500px) {
      .flex-container, section {
        flex-direction: column;
      }
  }
   
   
    
    


.flex-item-about {
    display: flex;
    flex-flow: row nowrap; 
}

.flex-item-about img {
    order: -1;
    padding-right: 15px;
}

.flex-item-projects {
  display: grid;
  grid-template-columns: auto auto auto;
}
 
@media all and (max-width: 800px) {
    .flex-container, section {
      justify-content: space-around;
    }
}

@media all and (max-width: 500px) {
    .flex-container, section {
      flex-direction: column;
    }
}
